<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Editor</title>
</head>
<body>

<!--<form action="/py/result" method="post">-->
<!--    <input type="text" name="script">-->
<!--    <input type="submit" value="提交">-->
<!--</form>-->

<form action="/py/result" method="post">
    Code Editor <br/>
    <textarea rows="5" cols="20", name="script">Python Script Here</textarea>
    <input type="submit" value="提交">
</form>

</body>
</html>